<div class="row">
  <div class="col-sm-8">
     <%= render partial: "posts/list", locals: { posts: @posts } %>
  </div>
  <div class="col-sm-4 mt-3">
    <p class="h4 bold">
      <%= @profile.full_name %>
    </p>
    <p>
      <%= @profile.username %>
    </p>
    <h4> Bio :</h4>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
      form, by injected humour, or randomised words which don't look even slightly believable..</p>
    <p>Your Cake day: <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>

</div>